<section class="bottom-bar">
    <div class="container">
        <div class="bottom-bar__inner">
            <a href="/theory" class="bottom-bar__link">
                <div class="bottom-bar__item">
                    <img src="../images/menu1.svg" alt="1"class="bottom-bar__img">
                    <p class="bottom-bar__title">Теория</p>
                </div>
            </a>
            <a href="/tests" class="bottom-bar__link">
                <div class="bottom-bar__item">
                    <img src="../images/menu2.svg" alt="2"class="bottom-bar__img">
                    <p class="bottom-bar__title">Тесты</p>
                </div>
            </a>
            <a href="/stats" class="bottom-bar__link">
                <div class="bottom-bar__item">
                    <img src="../images/menu3.svg" alt="4"class="bottom-bar__img">
                    <p class="bottom-bar__title">Статистика</p>
                </div>
            </a>
            <a href="/profile" class="bottom-bar__link">
                <div class="bottom-bar__item">
                    <img src="../images/menu4.svg" alt="5"class="bottom-bar__img">
                    <p class="bottom-bar__title">Профиль</p>
                </div>
            </a>
            
        </div>
    </div>
</section>