<header class="header">
    <div class="container">
        <div class="header__logo">
            <a href="/" class="logo-text">Mister<span class="logo-text__end">Smart</span></a>
        </div>
        <div class="header__buttons">
            <div class="buttons-item" id='menu-btn'>
                <img src="../images/burger.svg" alt="menu" class="buttons-item__img">
            </div>
            <div class="buttons-item" onClick="window.location='/login'">
                <img src="../images/enter.svg" alt="profile" class="buttons-item__img">
            </div>
            <div class="buttons-item" onClick="window.location='/admin'">
                <img src="../images/settings.svg" alt="theme" class="buttons-item__img">
            </div>
        </div>
        </div>
    </div>
</header>