<section class="agree">
    <div class="container">
        <h1 class="main__title">
            Ошибка 404: Страница не найдена
        </h1>
        <div class="main__line"></div>
        <div class="error__inner inner404">
            <img src="images/main/404.png" alt="" class="login-error__img inner404">
        </div>  
                       
        <div class="agree-btn">
            <a href="/" class="agree__return">На главную страницу</a>
        </div>            
    </div>
</section> 