<section class="agree">
    <div class="container">
        <h1 class="main__title">
            Ошибка: Недостаточно прав
        </h1>
        <div class="main__line"></div>
        <div class="error__inner">
            <p class="login-error__text">Для доступа к этой странице необходимо обладать правами администратора.</p>
            <img src="images/main/login-err.png" alt="" class="login-error__img">
        </div>  
                       
        <div class="agree-btn">
            <a href="/" class="agree__return">На главную страницу</a>
        </div>            
    </div>
</section> 