
<section class="main">
    <div class="container">
        <h1 class="main__title">
            Панель администратора
        </h1>
        <div class="main__line"></div>

        <div class="add-container">
            <div class="form-title">
                <p class="main__title">Добавление теоретического урока</p>
            </div>                
            <div class="form-container">
            <form action="/add-theme" method="post">
                <div class="form-group">
                    <label for="title">Название</label>
                    <input type="text" id="title" name="title" placeholder="Введите название" required>
                </div>
                <div class="form-group">
                    <label for="level">Уровень изучения</label>
                    <select class="select-type" id="level" name="level" required>
                        <option value="A0" selected disabled>Выберите уровень изучения</option>
                        <option value="A1">A1. Beginner</option>
                        <option value="A2">A2. Elementary</option>
                        <option value="B1">B1. Intermediate</option>
                        <option value="B2">B2. Upper-Intermediate</option>
                        <option value="C1">C1. Advanced</option>
                        <option value="C2">C2. Proficiency</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="type">Уровень сложности</label>
                    <select class="select-type" id="type" name="type" required>
                        <option value="easy" selected disabled>Выберите уровень сложности</option>
                        <option value="easy">Легкий</option>
                        <option value="normal">Средний</option>
                        <option value="hard">Сложный</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>
                    <input type="text" name="description" placeholder="Введите описание" required>
                </div>
                <div class="form-group">
                    <label for="body">Текст</label>
                    <input type="text" name="body" placeholder="Введите текст" required>
                </div>
                <button type="submit" class="submit-btn">Добавить</button>
            </form>
            </div>
        </div>
    </div>
</section> 