
    <section class="agree">
        <div class="container">
            <h1 class="main__title">
                Пользовательское соглашение
            </h1>
            <div class="main__line"></div>
            <div class="agree__inner">
                <p class="agree__text"> <span class="bold">Политика в отношении обработки персональных данных</span></p>
                <p class="agree__text"><span class="bold">1. Общие положения</span></p> 
                <p class="agree__text">1.1. Настоящая политика обработки персональных данных (далее – «Политика»), размещенная в информационно-коммуникационной сети Интернет по адресу https://mrsmart.ru/agree/, составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных в веб-приложении «Mister Smart» (далее — «Оператор»).</p> 
                <p class="agree__text">1.2. Политика применяется ко всей информации, которую Оператор может получить о любых посетителях Сайта (далее – «Пользователь»). Под Пользователями понимаются также клиенты и контрагенты Оператора, их представители, в том числе обучающиеся и/или их законные представители.</p> 
                <p class="agree__text">1.3. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</p> 
                <p class="agree__text">1.4. Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.</p> 
                <p class="agree__text">1.5. В Политике нижеприведенные понятия имеют следующие определения:</p> 
                <p class="agree__text"><span class="bold">Сайт</span> – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу https://mrsmart.ru</p> 
                <p class="agree__text"><span class="bold">Персональные данные</span> – любая информация, относящаяся прямо или косвенно к Пользователю.</p> 
                <p class="agree__text"><span class="bold">Персональные данные</span>, разрешенные субъектом персональных данных для распространения – персональные данные, доступ неограниченного круга лиц к которым предоставлен Пользователем путем дачи согласия на обработку персональных данных, разрешенных Пользователем для распространения.</p> 
                <p class="agree__text"><span class="bold">Обработка персональных данных</span> – любое действие или совокупность действий, совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p> 
                <p class="agree__text"><span class="bold">Распространение персональных данных</span> – действия, направленные на раскрытие персональных данных неопределенному кругу лиц.</p> 
                <p class="agree__text"><span class="bold">Предоставление персональных данных</span> – действия, направленные на раскрытие персональных данных определенному лицу или определяемому кругу лиц.</p> 
                <p class="agree__text"><span class="bold">Блокирование персональных данных</span> – временное прекращение обработки персональных данных (за исключением случаев, когда обработка необходима для уточнения персональных данных).</p> 
                <p class="agree__text"><span class="bold">Обезличивание персональных данных</span> – действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных.</p> 
                <p class="agree__text"><span class="bold">Уничтожение персональных данных</span> – действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.</p> 
                <p class="agree__text"><span class="bold">Информационная система персональных данных</span> – совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств.</p> 
                <p class="agree__text">Понятия, не определенные в настоящем разделе, толкуются в соответствии с условиями Оферты.

                <p class="agree__text"><span class='bold'>2. Правовые основания обработки персональных данных</span>
                </p><p class='agree__text'>2.1. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные в веб-приложении или на электронную почту Оператора smartapp801@gmail.com. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.
                </p><p class='agree__text'>2.2. Обработка персональных данных осуществляется Оператором на территории Российской Федерации. Оператор не осуществляет обработку специальных и биометрических персональных данных Пользователей.
                </p><p class='agree__text'>2.3. Обработка персональных данных осуществляется в соответствии и во исполнение договоров и иных соглашений Оператора и Пользователя, согласия Пользователя на обработку персональных данных, локальных нормативных актов Оператора, законов и подзаконных актов, регулирующих отношения, связанные с деятельностью организации в области обработки персональных данных, в том числе:
                </p><p class='agree__text'>- Гражданского Кодекса РФ;
                </p><p class='agree__text'>- Федерального закона «Об информации, информационных технологиях и о защите информации» от 27.07.2006 № 149-ФЗ;
                </p><p class='agree__text'>- Указа Президента РФ от 06.03.1997 № 188 «Об утверждении Перечня сведений конфиденциального характера»;
                </p><p class='agree__text'>- Федерального закона «Об образовании в Российской Федерации» от 29.12.2012 № 273-ФЗ;

                <p class="agree__text"><span class='bold'>3. Цели сбора и категории обрабатываемых персональных данных</span>
                </p><p class='agree__text'>3.1. Обработка персональных данных должна ограничиваться достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.
                </p><p class='agree__text'>3.2. Оператор обрабатывает следующие персональные данные Пользователей в соответствии со следующими целями:
                </p><p class='agree__text'>- Установление и поддержание связи между Пользователем и Оператором для коммуникации по используемым услугам Оператора. Объем обрабатываемых персональных данных: фамилия, имя, отчество (при наличии), адрес электронной почты.
                </p><p class='agree__text'>- Предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на Сайте (Регистрация на Сайте). Объем обрабатываемых персональных данных: фамилия, имя, отчество (при наличии), адрес электронной почты.
                </p><p class='agree__text'>- Улучшение качества обслуживания пользователей и модернизация Сайта. Объем обрабатываемых персональных данных: файлы cookie.
                    
                <p class="agree__text"><span class='bold'>4. Улучшение качества обслуживания пользователей и модернизация Сайта</span>
                </p><p class='agree__text'>4.1. На Сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
                </p><p class='agree__text'>4.2. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).
                
                <p class="agree__text"><span class='bold'>5. Сбор и уточнение персональных данных</span>
                </p><p class='agree__text'></p>5.1. Соглашаясь с условиями Политики, Пользователь выражает свое информированное и осознанное согласие на обработку его персональных данных на условиях, предусмотренных Политикой и Федеральным законом от 27 июля 2006 г. N 152-ФЗ «О персональных данных» (далее - Закон), а также гарантирует, что:
                </p><p class='agree__text'>- предоставил полностью достоверную информацию и понимает, что несет ответственность за предоставление недостоверной или недостаточной информации;
                </p><p class='agree__text'>- достиг возраста 14 лет или является законным представителем несовершеннолетнего и имеет право давать соответствующее согласие в соответствии с законодательством РФ.
                </p><p class='agree__text'>5.2. Оператор получает персональные данные непосредственно от Пользователя или от его законного представителя. В случае предоставления Оператору персональных данных другого человека и совершения регистрации от его имени, Пользователь несет полную ответственность за то, что лицо или лица, чьи персональные данные он предоставил, осведомлены об этом, понимают и согласны с тем, что Оператор обрабатывает их данные в соответствии с Политикой.
                </p><p class='agree__text'>5.3. Совершая действия, предусмотренные п.5.4. Политики, Пользователь дает согласие Оператору на совершения следующих действий с персональными данными: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу, обезличивание, блокирование, удаление, уничтожение.
                </p><p class='agree__text'>5.4. Моментом предоставления согласия на обработку персональных данных Пользователем в соответствии с условиями Политики в указанных целях, является:
                </p><p class='agree__text'>- момент нажатия кнопки, подтверждающей отправку формы обратной связи (кнопки могут называться «Отправить», «Зарегистрироваться» и иным аналогичным образом), в том числе заявки на обучение – для цели «установление и поддержание связи между Пользователем и Оператором для коммуникации по приобретенным услугам Оператора»;
                </p><p class='agree__text'>- момент завершения регистрации на Сайте при заполнении формы для регистрации и нажатии кнопки «Готово» или «Продолжить» - для цели «предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на Сайте»;
                </p><p class='agree__text'>- момент внесения или изменения информации Пользователем в Личном кабинете на Сайте. Пользователь самостоятельно определяет объем персональных данных, отображаемых в Личном кабинете.
                </p><p class='agree__text'>5.5. Моментом предоставления согласия на обработку персональных данных в иных случаях является момент получения Оператором согласия на обработку персональных данных, направленной на электронный почтовый адрес Оператора.
                </p><p class='agree__text'>5.6. Пользователь самостоятельно определяет перечень персональных данных, которые Оператор вправе обрабатывать с целью «исполнение и заключение договоров» путем заполнения в Личном кабинете Сайта только тех полей с персональными данными, в отношении которых Пользователь выражаете согласие Оператору на обработку персональных данных. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных в указанной цели убрав галочку с соответствующего поля в Личном кабинете на Сайте.
                </p><p class='agree__text'>При этом Пользователь осознает, что непредоставление Оператору персональных данных, прямо запрошенных Оператором для исполнения и заключения договоров, влечет невозможность исполнения условий этих договоров.
                </p><p class='agree__text'>5.7. Без согласия Пользователя Оператор вправе обрабатывать персональные данные Пользователя в следующих случаях:
                </p><p class='agree__text'>- обработка персональных данных осуществляется в связи с участием лица в конституционном, гражданском, административном, уголовном судопроизводстве, судопроизводстве в арбитражных судах;
                </p><p class='agree__text'>- обработка персональных данных необходима для исполнения судебного акта, акта другого органа или должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном производстве
                </p><p class='agree__text'>- обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является Пользователь, а также для заключения договора по инициативе Пользователя или договора, по которому Пользователь будет являться выгодоприобретателем или поручителем.
                </p><p class='agree__text'>- обработка персональных данных осуществляется в статистических или иных исследовательских целях при условии обязательного обезличивания персональных данных;
                
                <p class="agree__text"><span class='bold'>6. Передача персональных данных третьим лицам</span>
                </p><p class='agree__text'>6.1. Согласие с условиями Политики не включает в себя согласие на распространение и/или предоставление персональных данных. Оно оформляется отдельно от согласия с настоящей Политикой.
                </p><p class='agree__text'>6.2. Форма согласия на распространение и/или предоставление персональных данных Пользователя зависит от цели их распространения/предоставления.
                </p><p class='agree__text'><span class='bold'>Распространение персональных данных</span>
                </p><p class='agree__text'>6.3. Персональные данные Пользователя могут размещаться на сайте Оператора и/ или в его социальных сетях при наличии согласия Пользователя на обработку персональных данных, разрешенных им для распространения.
                </p><p class='agree__text'>6.4. Пользователь вправе установить запреты Оператору на передачу (кроме предоставления доступа) и/или на обработку или условия обработки (кроме получения доступа) персональных данных, разрешенных Пользователем для распространения неограниченному кругу лиц.
                
                <p class="agree__text"><span class='bold'>7. Прекращение обработки персональных данных</span>
                </p><p class='agree__text'>7.1. Обработка персональных данных Оператором начинается с момента предоставления Пользователем согласия на обработку персональных данных или с момента заключения договора с Пользователем.
                </p><p class='agree__text'>7.2. Срок обработки персональных данных является неограниченным. Срок хранения данных зависит от требований законодательства Российской Федерации об образовании и архивном деле.
                </p><p class='agree__text'>7.3. Оператор обязуется прекратить обработку персональных данных Пользователя при наступлении любого из следующих событий:
                </p><p class='agree__text'>- Пользователь отозвал согласие на обработку персональных данных или направил Оператору требование об их уничтожении;
                </p><p class='agree__text'>- истек срок хранения персональных данных, установленный законом;
                </p><p class='agree__text'>- достигнуты цели обработки персональных данных.
                </p><p class='agree__text'>7.4. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора smartapp801@gmail.com с пометкой «Отзыв согласия на обработку персональных данных». В случае отзыва согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия при наличии оснований, указанных в пунктах 2–11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона от 27.07.2006 № 152-ФЗ.
                </p><p class='agree__text'>7.5. Пользователь вправе в любой момент отозвать свое согласие на обработку персональных данных для целей направления сообщений рекламного характера и рассылок с информационными материалами, направив Оператору письмо на адрес электронной почты smartapp801@gmail.com с пометкой «Отказ от уведомлений о новых продуктах и услугах и специальных предложений».
                </p><p class='agree__text'>7.6. Пользователь уведомлен о том, что Оператор не будет иметь возможности оказать соответствующие услуги в случае отказа Пользователя от обработки персональных данных в целях:
                </p><p class='agree__text'>- Установления и поддержания связи между Пользователем и Оператором для коммуникации по приобретенным услугам Оператора.
                </p><p class='agree__text'>- Предоставления доступа Пользователю к сервисам, информации и/или материалам, содержащимся на Сайте.
                </p><p class='agree__text'>7.8. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их путем направления Оператору уведомления на адрес электронной почты Оператора smartapp801@gmail.com с пометкой «Актуализация персональных данных».
                </p><p class='agree__text'>7.9. Пользователь также вправе требовать блокирования или уничтожения персональных данных в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.
            </div>  
            <div class="agree-btn">
                <a href="login" class="agree__return">Вернуться назад</a>
            </div>            
        </div>
    </section> 