<section class="agree">
    <div class="container">
        <h1 class="main__title">
             Ошибка
        </h1>
        <div class="main__line"></div>
        <div class="agree__inner">
            <p class="agree__text"> <span class="bold">У вас нет доступа к этой странице</span></p>
        </div>  
        <div class="agree-btn">
            <a href="/" class="agree__return">Вернуться назад</a>
        </div>            
    </div>
</section> 