<section class="agree">
    <div class="container">
        <h1 class="main__title">
            Ошибка: Нет доступа к этой странице
        </h1>
        <div class="main__line"></div>
        <div class="error__inner">
            <p class="login-error__text">Для доступа к некоторым разделам сайта необходимо авторизироваться в свой аккаунт.</p>
            <img src="images/main/login-err.png" alt="" class="login-error__img">
        </div>  
                       
        <div class="agree-btn">
            <a href="/login" class="agree__return">Войти в аккаунт</a>
        </div>            
    </div>
</section> 