<section class="main">
    <div class="container">
        <div class="main__inner">
            <h1 class="main__title">
                Тесты на знание английского языка
            </h1>
            <div class="main__line"></div>
            <div class="main__lessons">
                    <div class="main__lesson" onClick="window.location='/english-a1'">
                        <div class="main__left">
                            <div class="lesson__inner easy">
                                <p class="lesson__level">A1</p>
                            </div>
                        </div>
                        <div class="lesson__right">
                            <h3 class="lesson__title">Elementary</h3>
                            <p class="lesson__text">For students who is just beginning to learn English.</p>
                        </div>
                    </div>     
                    <div class="main__lesson" onClick="window.location='/english-a2'">
                        <div class="main__left">
                            <div class="lesson__inner easy">
                                <p class="lesson__level">A2</p>
                            </div>
                        </div>
                        <div class="lesson__right">
                            <h3 class="lesson__title">Pre-Intermediate</h3>
                            <p class="lesson__text">For students who can communicate in simple and routine tasks.</p>
                        </div>
                    </div>     
                    <div class="main__lesson" onClick="window.location='/english-b1'">
                        <div class="main__left">
                            <div class="lesson__inner normal">
                                <p class="lesson__level">B1</p>
                            </div>
                        </div>
                        <div class="lesson__right">
                            <h3 class="lesson__title">Intermediate</h3>
                            <p class="lesson__text">For students who can speak on certain topics and  describe events.</p>
                        </div>
                    </div>     
                    <div class="main__lesson" onClick="window.location='/english-b2'">
                        <div class="main__left">
                            <div class="lesson__inner normal">
                                <p class="lesson__level">B2</p>
                            </div>
                        </div>
                        <div class="lesson__right">
                            <h3 class="lesson__title">Upper-Intermediate</h3>
                            <p class="lesson__text">For students who can understand the main ideas of complex text.</p>
                        </div>
                    </div>     
                    <div class="main__lesson" onClick="window.location='/english-c1'">
                        <div class="main__left">
                            <div class="lesson__inner hard">
                                <p class="lesson__level">C1</p>
                            </div>
                        </div>
                        <div class="lesson__right">
                            <h3 class="lesson__title">Advanced</h3>
                            <p class="lesson__text">For students who can use language flexibly for social, academic purposes.</p>
                        </div>
                    </div>     
                    <div class="main__lesson" onClick="window.location='/english-c2'">
                        <div class="main__left">
                            <div class="lesson__inner hard">
                                <p class="lesson__level">C2</p>
                            </div>
                        </div>
                        <div class="lesson__right">
                            <h3 class="lesson__title">Proficient</h3>
                            <p class="lesson__text">For students who can understand virtually everything heard or read.</p>
                        </div>
                    </div>                  
            </div>
        </div>
    </div>
</section> 