<section class="agree main">
    <div class="container">
        <h1 class="main__title">
            Ошибка
        </h1>
        <div class="main__line"></div>
        <div class="agree__inner">
            <p class="agree__text"> <span class="bold">Что-то пошло не так...</span></p>
        </div>  
        <div class="agree-btn">
            <a href="/" class="agree__return">Вернуться на Главную страницу</a>
        </div>            
    </div>
</section> 