<section class="agree main">
    <div class="container">
        <h1 class="main__title">
            Ошибка
        </h1>
        <div class="main__line"></div>
        <div class="error__inner">
            <p class="login-error__text">Что-то пошло не так. Попробуйте повторить операцию еще раз.</p>
            <img src="images/main/login-err.png" alt="" class="login-error__img">
        </div>  
        <div class="agree-btn">
            <a href="/" class="agree__return">Вернуться на Главную страницу</a>
        </div>            
    </div>
</section> 