<section class="main">
    <div class="container">
        <div class="main__inner">                
            <h1 class="main__title">
                Главная страница
            </h1>
            <div class="main__line"></div>
            <div class="main__about"> 
                    <img src="images/main/bg9.jpg" alt="" class="about__img">                
                <div class="about__description">
                    <h1 class="about__title">Подробнее о нас</h1>
                    <p class="about__text">Наши занятия построены по собственной SMART-методике, которая основана на коммуникативном методе. 
                        Систематичность и интенсивность – главные её составляющие. Каждая минута занятия эффективно работает на решение определённой задачи 
                        – повторение, знакомство с новыми словами или грамматикой, закрепление нового в практике, самопроверка, контроль. </p>
                <p></p>
                </div>
            </div>
            <div class="main__why">
                <h2 class="why__title">На уроках английского вы научитесь</h2>
                <div class="why__items">
                    <div class="why__item">
                        <img src="images/main/why1.svg" alt="" class="why__img">
                        <p class="why__text">Описывать себя, свой дом и любимую еду</p>
                    </div>
                    <div class="why__item">
                        <img src="images/main/why2.svg" alt="" class="why__img">
                        <p class="why__text">Говорить о семье, родных и друзьях</p>
                    </div>
                    <div class="why__item">
                        <img src="images/main/why3.svg" alt="" class="why__img">
                        <p class="why__text">Обсуждать свои хобби, работу и отпуск </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__description">
            <div class="description__inner">
                <div class="description__img-inner">                        
                    <img class="description__img" src="images/boy.jpg" alt="">  
                </div>                
                <p class="description__text">Как же хочется не делать глупых ошибок в английском, говорить красиво и правильно. 
                    Пришло время подтянуть грамматику! Узнайте, какие существуют времена и чем различаются, 
                    как и где использовать артикли, зачем нужны модальные глаголы. Научитесь строить предложения любой сложности.</p>                    
                <p class="description__fact"><span class="bold">Продолжительность обучения: </span>50+ уроков и тесты по каждой теме</p>
                <p class="description__fact"><span class="bold">Формат обучения: </span>текстовые уроки, видеозаписи и упражнения</p>
                <p class="description__fact"><span class="bold">Кому подойдет: </span>новички и продолжающие</p>
            </div>
        </div>
        <div class="main__start">
            <div class="start__inner">
                <a href="login" class="start-btn">Начать сейчас</a>
            </div>
        </div>
    </div>
</section> 
