<section class="main">
    <div class="container">
        <div class="main__inner">
            <h1 class="main__title">
                <%= Theorydata.title %>
            </h1>
            <div class="main__line"></div>
            <div class="class__inner">
                <%- Theorydata.body %>
            <div class="class__return-btn-inner">
                <a href="/theory" class="class__return-btn">Назад</a>
            </div>                
            </div>
        </div>      
    </div>
</section> 

