<section class="agree">
    <div class="container">
        <h1 class="main__title">
            Ошибка: Неправильный логин или пароль
        </h1>
        <div class="main__line"></div>
        <div class="error__inner">
            <p class="login-error__text">Данная ошибка может возникать только в том случае, если был введен некорректный пароль или логин.
                Рекомендуется проверить раскладку клавиатуры, клавиши CapsLock и Num Lock.</p>
            <img src="images/main/login-err.png" alt="" class="login-error__img">
        </div>  
                       
        <div class="agree-btn">
            <a href="/login" class="agree__return">Вернуться назад</a>
        </div>            
    </div>
</section> 