<section class="agree">
    <div class="container">
        <h1 class="main__title">
            Ошибка: Данный пользователь уже существует
        </h1>
        <div class="main__line"></div>
        <div class="error__inner">
            <p class="login-error__text">Проверьте правильность написания имени пользователя или электронной почты, чтобы исключить возможные ошибки. В случае, если вы использовали уже существующее имя пользователя или электронную почту, вам потребуется выбрать другое уникальное значение.
            </p>
            <img src="images/main/login-err.png" alt="" class="login-error__img">
        </div>  
                       
        <div class="agree-btn">
            <a href="/login" class="agree__return">Вернуться назад</a>
        </div>            
    </div>
</section> 