<section class="main">
    <div class="container">
        <div class="main__inner">
            <h1 class="main__title">
                Статистика
            </h1>
            <div class="main__line"></div>
            <div class="stats__inner">
                <img src="images/main/stats.webp" alt="" class="stats__img">
                <div class="stats__info">
                    <p class="stats__title"><%= data[0].name%></p>
                    <p class="stats__text"><span class="bold">Количество пройденных уроков: </span><%= data[0].lessonComplete%></p>
                    <p class="stats__text"><span class="bold">Количество пройденных тестов: </span><%= data[0].testComplete%></p>
                    <p class="stats__text"><span class="bold">Уровень обучения: </span><%= data[0].level %></p>
                </div>           
            </div>                
        </div>
    </div>
</section> 
