<section class="agree">
    <div class="container">
        <h1 class="main__title">
            Ошибка: Ошибка обновления данных
        </h1>
        <div class="main__line"></div>
        <div class="error__inner">
            <p class="login-error__text">При изменении данных пароли должны совпадать.</p>
            <img src="images/main/login-err.png" alt="" class="login-error__img">
        </div>  
                       
        <div class="agree-btn">
            <a href="/profile" class="agree__return">Вернуться в профиль</a>
        </div>            
    </div>
</section> 